// Utility classes, like Tailwind CSS.
.lh-1 {
  line-height: 1;
}

.text-xs {
  font-size: 12px;
  line-height: 16.8px;
}
.text-sm {
  font-size: 14px;
  line-height: 19.6px;
}
.text-base {
  font-size: 16px;
  line-height: 22.4px;
}
.text-lg {
  font-size: 18px;
  line-height: 25.2px;
}
.text-xl {
  font-size: 20px;
  line-height: 28px;
}
.text-2xl {
  font-size: 24px;
  line-height: 33.6px;
}
.text-3xl {
  font-size: 30px;
  line-height: 42px;
}
.text-4xl {
  font-size: 36px;
  line-height: 50.4px;
}
.text-5xl {
  font-size: 48px;
  line-height: 67.2px;
}

font-bold {
  font-weight: bold;
}
